:root {
	--background-color: #ffffff;
	--foreground-color: #575279;
	--miku-color: #6ea398;
	--piss-color: #dcb34c;
	--blue-color: #2b6bc5;
	--purple-color: #864fa6;
}

@font-face {
	font-family: basiic;
	src: url(/fonts/basiic.ttf);
}

@font-face {
	font-family: rainyhearts;
	src: url(/fonts/rainyhearts.ttf);
}

@font-face {
	font-family: ds-bios;
	src: url(/fonts/ds-bios.ttf);
}

html {
	font-size: 32px;
}

body {
	background: var(--background-color);
	color: var(--foreground-color);
	font-family: ds-bios, sans-serif;
	font-size: 1rem;
	max-width: 30rem;
	margin: 0.5rem auto;
	padding: 0.25rem;
}

p {
	margin: 0.5rem 0;
}

a {
	color: var(--miku-color);
	text-decoration: none;
}
a:hover {
	color: var(--piss-color);
}

ul {
	list-style-type: '*  ';
}

li {
	margin: 1rem 0;
}

.bordered {
	border: 3px solid var(--foreground-color);
}

.responsive-row-to-column {
	display: flex;
	flex-direction: row;
}

.responsive-column-to-row {
	display: flex;
	flex-direction: column;
}

.textbox {
	background: white;
	border: 3px solid var(--foreground-color);
	padding: 0.5rem;
	margin-bottom: 12px;

	flex-grow: 1;
}

.textbox-flex-container {
	display: flex;
	gap: 12px;
}

.project-thumbnail {
	width: 100%;
	height: auto;
	border: 1px solid var(--foreground-color);
}

.about-header {
	background-color: var(--background-color);
	font-size: 2rem;
	text-align: center;
	margin: 60px auto 12px auto;
	border: 3px solid var(--foreground-color);
	padding: 0.5rem;
	width: fit-content;
}

#project-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1rem;
	a {
		color: var(--foreground-color);
	}
	a:hover {
		color: var(--piss-color);
	}
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #e0def4;
    --background-color: #191724;
  }
  .colored-font {
    filter: brightness(130%) saturate(70%);
  }
}*/

@media (max-width: 700px) {
	html {
		font-size: 28px;
	}
	.responsive-row-to-column,
	.textbox-flex-container {
		flex-direction: column;
	}
	.responsive-column-to-row {
		flex-direction: row;
	}
	.hide-on-shrink {
		display: none;
	}
}
