:root {
	--background-color: #ffffff;
	--foreground-color: #575279;
	--muted-color: #7f7b95;
	--miku-color: #6ea398;
	--piss-color: #dcb34c;

	--red-color: #c62d2d;
	--orange-color: #d19036;
	--yellow-color: #bebb28;
	--green-color: #2abb4c;
	--blue-color: #2b6bc5;
	--purple-color: #864fa6;
}

@font-face {
	font-family: basiic;
	src: url(/fonts/basiic.ttf);
}

@font-face {
	font-family: rainyhearts;
	src: url(/fonts/rainyhearts.ttf);
}

@font-face {
	font-family: ds-bios;
	src: url(/fonts/ds-bios.ttf);
}

html {
	font-size: 32px;
}

body {
	background: var(--background-color);
	color: var(--foreground-color);
	font-family: ds-bios, sans-serif;
	font-size: 1rem;
	max-width: 960px;
	margin: 16px auto;
	padding: 8px;
}

a {
	color: var(--miku-color);
	text-decoration: none;
}
a:hover {
	color: var(--piss-color);
}

ul {
	list-style-type: '*  ';
}

li {
	margin: 1rem 0;
}

.bordered {
	border: 3px solid var(--foreground-color);
}

.pixelated {
	image-rendering: pixelated;
}

.responsive-row-to-column {
	display: flex;
	flex-direction: row;
}

.responsive-column-to-row {
	display: flex;
	flex-direction: column;
}

@keyframes rainbow {
	0% {
		color: var(--red-color);
	}
	17% {
		color: var(--orange-color);
	}
	33% {
		color: var(--yellow-color);
	}
	50% {
		color: var(--green-color);
	}
	67% {
		color: var(--blue-color);
	}
	83% {
		color: var(--purple-color);
	}
	100% {
		color: var(--red-color);
	}
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #e0def4;
    --background-color: #191724;
  }
  .colored-font {
    filter: brightness(130%) saturate(70%);
  }
}*/

@media screen and (max-width: 700px) {
	html {
		font-size: 28px;
	}
	.responsive-row-to-column {
		flex-direction: column;
	}
	.responsive-column-to-row {
		flex-direction: row;
	}
	.hide-on-shrink {
		display: none;
	}
}
